{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}
    Lager Fridge
{% endblock %}

{% block content %}
    <header>
        <div class="page-title">
            <h2 class="title-1">Sean's Lager Fridge</h2>
        </div>
    </header>
    <div class="container">
        {% block app_content %}
            <div class="container page-page item">
                <br>
                <form  method="post" role="form">
                    {{ form.csrf_token }}
                    <div class="flex-container">
                        <div>{{ wtf.form_field(form.target_temp) }}</div>
                        <div>{{ wtf.form_field(form.current_temp) }}</div>
                    </div>
                    <div class="flex-container">
                        <div><input type="submit" name="update_target" value="Update Target"></div>
                        <div><input type="submit" name="turn_off_fridge" value="Fridge Off"></div>
                        <div><input type="submit" name="turn_on_fridge" value="Fridge On"></div>
                    </div>
                </form>
            </div>
        {% endblock app_content %}
        {% with messages = get_flashed_messages() %}
            <div class="message">
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-info message-text" role="alert">{{ message }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endwith %}
    </div>
{% endblock content %}
